**pycache**/
.ipynb_checkpoints/
.env
.venv/
.DS_Store
*.pdf
*.docx
*.zip
*.pdb
*.pdbqt
*.sdf
*.mol2
*.log
*.out
docking/results/
structures/predicted_models/
structures/mutant_models/
data/external/
